<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SeatWorld - Update Email</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <link rel="stylesheet" href="/css/users/profile.css">
  <link rel="stylesheet" href="/css/users/emailUpdation.css">
</head>

<body>
  <%- include('../partials/header', { showSearch: false }) %>
    <%- include("../partials/breadcrumb", { breadcrumbs }) %>

      <%- include('../partials/profileMobileToggle') %>

        <div class="container">
          <div class="profile-layout">


            <!-- SIDEBAR -->
            <%- include('../partials/profileSidebar', { active: 'profile' }) %>

              <!-- CONTENT -->
              <main class="main-content">
                <div class="email-card">
                  <h2>Email Id updation</h2>

                  <form id="emailUpdateForm" action="/profile/change-email" method="POST">
                    <div class="form-group">
                      <label>Current email</label>
                      <div class="current-email">
                        <%= user.email %>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>New email</label>
                      <input type="email" name="newEmail" required>
                    </div>

                    <div class="form-group">
                      <label>Confirm new email</label>
                      <input type="email" name="confirmEmail" required>
                    </div>

                    <button class="verify-btn">Verify</button>

                  </form>
                </div>
              </main>

          </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="module" src="/js/users/emailUpdation.js"></script>

        <%- include('../partials/footer') %>

</body>

</html>