<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Personal Information | SeatWorld</title>

  <link rel="stylesheet" href="/css/users/profile.css">
  <link rel="stylesheet" href="/css/users/personalInfo.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
</head>

<body>
  <%- include('../partials/header', { showSearch: false }) %>
    <%- include("../partials/breadcrumb", { breadcrumbs }) %>
      <%- include("../partials/flash", { messageData: locals.message }) %>

        <%- include('../partials/profileMobileToggle') %>

          <!-- MAIN -->
          <div class="container">
            <div class="profile-layout">

              <!-- SIDEBAR -->
              <%- include('../partials/profileSidebar', { active: 'profile' }) %>

                <!-- CONTENT -->
                <section class="main-content">
                  <h2>PERSONAL INFORMATION</h2>


                  <form id="personalInfoForm" method="POST" action="/profile/edit">

                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" name="name" value="<%= user.name || user.username %>">
                    </div>

                    <div class="form-group">
                      <label>Mobile number</label>
                      <input type="text" name="mobile" value="<%= user.mobile %>">
                    </div>

                    <div class="form-group">
                      <label>Email</label>
                      <div class="email-wrapper">
                        <input type="email" value="<%= user.email %>" readonly>
                        <% if (user.authType !=='google' ) { %>
                          <button type="button" onclick="location.href='/profile/change-email'">
                            Change
                          </button>
                          <% } else { %>
                            <button type="button" onclick="showGoogleEmailWarning()">
                              Change
                            </button>
                            <% } %>
                      </div>
                    </div>

                    <button class="update-btn">Update</button>
                  </form>
                </section>

            </div>
          </div>


          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script type="module" src="/js/users/personalInfo.js"></script>

          <%- include('../partials/footer') %>

</body>

</html>